<h1 class="subtitle">MEET OUR THERAPISTS...</h1>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./assets/images/therapist1.jpeg">
          </div>
          <div class="team-content">
            <h3 class="name">Adilyn Humphries</h3>
            <h4 class="info">Trauma and Behavioral</h4>
            <h4 class="info">8 years</h4>
          </div>
          <ul class="social">
            <li><a  aria-hidden="true">website</a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./assets/images/therapist3.jpeg">
          </div>
          <div class="team-content">
            <h3 class="name">Marcus Payne</h3>
            <h4 class="info">Child, Youth, Trauma and Cognitive</h4>
            <h4 class="info">10 years</h4>
          </div>
          <ul class="social">
            <li><a  aria-hidden="true">website</a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./assets/images/therapist2.jpeg">
          </div>
          <div class="team-content">
            <h3 class="name">Aja Johnson</h3>
            <h4 class="info">Eating-Disorder, CBT, Clinical</h4>
            <h4 class="info">15 years</h4>
          </div>
          <ul class="social">
            <li><a  aria-hidden="true">website</a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./assets/images/therapist4.jpeg">
          </div>
          <div class="team-content">
            <h3 class="name">De'Andre Daniels</h3>
            <h4 class="info">Marriage/Family, Divorce, Child, Youth </h4>
            <h4 class="info">12 years</h4>
          </div>
          <ul class="social">
            <li><a  aria-hidden="true">website</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h1 class="subtitle">ONLY THE REAL AROUND HERE</h1>
  <h2 class="therapist-description">Our therapists use approaches other than the usual "how does that make you feel?" tactic.</h2>
