#goal{
    color: whitesmoke;
    font-family: 'Shizuru', sans-serif;
    font-size: 4em;
    margin: 10px;
}

h2{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    margin: 30px;
}