h1 {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: 'Shizuru', cursive;
    font-size: 150px;
}

#k{
    color: red;
}

#i{
    color: yellow;
}

#r{
    color: green;
}